body, html {
	height: 100%;
	width: 100%;
	background: url(../img/intro-bg.jpg) no-repeat center center;

}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

#body {

	background-color: rgba(0, 0, 0, 0.5); /* Color white with alpha 0.9*/
	height: 100%
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	
	color: #f8f8f8;

	
	background-size: cover;
	
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 10%;
	
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}





@media (max-width: 1199px) {
	
}

@media (max-width: 767px) {
	
}

footer {
	margin:120px 0px 0px 0px ;
	color: #ffffff;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

p.copyright {
	margin: 15px 0 0;
}