{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cows
                    <div class="form-group input-group col-lg-6 pull-right">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                    </h1>                    
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            All cows in the Database
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th><icon class="glyphicon glyphicon-tag"></icon> Ear Tag</th>
                                            <th><icon class="glyphicon glyphicon-tag"></icon> Reg Name</th>
                                            <th><icon class="glyphicon glyphicon-tag"></icon> Sex</th>
                                            <th><icon class="glyphicon glyphicon-tag"></icon> Breed</th>
                                            <th><icon class="glyphicon glyphicon-tag"></icon> Herd Book</th>
                                            <th><icon class="glyphicon glyphicon-tag"></icon> ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{% for cow in cows %}
                                    	
                                        <tr class="odd gradeX">
                                        	<td><a href="/cows/{{ cow.slug }}/">{{ cow.ear_tag }}</a></td>            
                                            <td><a href="/cows/{{ cow.slug }}/">{{ cow }}</a></td>
                                            <td>{{ cow.get_sex_display }}</td>                                 
                                            <td class="center">{{ cow.breed }}</td>
                                            <td class="center">{{ cow.herd_book }}</td>
                                            <td>{{ cow.cow_id }}</td>
                                        	
                                        </tr>
                                    
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


{% endblock %}