{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %}
<link href="{% static "css/plugins/timeline/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

	<div id="page-wrapper">
	 	<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ cow }}
                    <span class="fa fa-tags text-muted small">{{ cow.ear_tag }}</span>
                                        <div class="form-group input-group col-lg-6 pull-right">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                    </h1 >                    
                </div>
                <!-- /.col-lg-12 -->
         </div>
	            <div class="row">
	                <div class="col-lg-8">
	                	<div class="panel panel-default">
	                		<div class="panel-heading">
	                			Cow Details
	                		</div>
		                	<div class="panel-body">
		                	    <div class="list-group">

		                			<a  class="list-group-item">
	                                    <icon class="glyphicon glyphicon-tag"></icon> Tag
	                                    <span class="pull-right text-muted">{{ cow.ear_tag }}
	                                    </span>
                                	</a>
		                			<a  class="list-group-item">
	                                    <icon class="glyphicon glyphicon-pencil"></icon> Name
	                                    <span class="pull-right text-muted">{{ cow }}
	                                    </span>
                                	</a>
                                	<a  class="list-group-item">
	                                    <icon class="glyphicon glyphicon-asterisk"></icon> Sex
	                                    <span class="pull-right text-muted">{{ cow.get_sex_display }}
	                                    </span>
                                	</a>
                                	
                                	<a  class="list-group-item">
	                                    <icon class="glyphicon glyphicon-leaf"></icon> Breed
	                                    <span class="pull-right text-muted">{{ cow.breed }}
	                                    </span>
                                	</a>
                                	
                                	<a  class="list-group-item">
	                                    <icon class="glyphicon glyphicon-info-sign"></icon> Grade
	                                    <span class="pull-right text-muted">{{ cow.grade }}
	                                    </span>
                                	</a>
                                	<a  class="list-group-item">
	                                    <icon class="glyphicon glyphicon-book"></icon> Herd Book
	                                    <span class="pull-right text-muted">{{ cow.herd_book }}
	                                    </span>
                                	</a>
                                	<a  class="list-group-item">
	                                    <icon class="glyphicon glyphicon-calendar"></icon> Date Of Birth
	                                    <span class="pull-right text-muted">{{ cow.birthday }}
	                                    </span>
                                	</a>
                                	
                                 </div>       
						

							</div>
						</div>
                        <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-ambulance"></i> Health Status
                        </div>
                        <div class="panel-body">
                            {% for cowstatus in health_status %}
                            <p class="text-muted small">{{ cowstatus.date }}</p>
                            <p>{{ cowstatus.status }}</p>
                            <hr id ="divider"/>
                            {% endfor %}
                        </div>
                       
                    </div>
                
				    
                </div>
                <!-- /.col-lg-8 -->


				<div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-picture"></span> Photo
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                          <i class="fa fa-calendar"></i> Service Dates
                        </div>
                        <div class="panel-body">
                            {% for cow_service in service_dates %}
                            <p class="text-muted small">{{ cow_service.date }}</p>
                            <p class="small">{{ cow_service.description }}</p>
                            <hr id ="divider"/>
                            {% endfor %}
                        </div>
                        
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <i class="fa fa-calendar"></i> Calving Dates
                        </div>
                        <div class="panel-body">
                            {% for cow_calving in calving_dates %}
                            <p class="text-muted small">{{ cow_calving.date }}</p>
                            <p>{{ cow_calving.note }}</p>
                            <hr id ="divider"/>
                            {% endfor %}
                        </div>
                        
                    </div>
                

                    
                </div>    
	</div>

{% endblock %}