{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %}
<link href="{% static "css/plugins/timeline/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

	<div id="page-wrapper">
	 	<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ herd_book }}
                    
                                        <div class="form-group input-group col-lg-6 pull-right">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                    </h1 >                    
                </div>
                <!-- /.col-lg-12 -->
         </div>
	            <div class="row">
	                <div class="col-lg-8">
	                	<div class="panel panel-default">
	                		<div class="panel-heading">
	                			Cows
	                		</div>
		                	<div class="panel-body">
		                	    <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th><icon class="glyphicon glyphicon-tag"></icon> Ear Tag</th>
                                            <th>Reg Name</th>
                                            <th>Sex</th>
                                            <th>Breed</th>
                                            <th>ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cow in cows %}
                                        
                                        <tr class="odd gradeX">
                                            <td><a href="/cows/{{ cow.slug }}/">{{ cow.ear_tag }}</a></td>            
                                            <td><a href="/cows/{{ cow.slug }}/">{{ cow }}</a></td>
                                            <td>{{ cow.get_sex_display }}</td>                                 
                                            <td class="center">{{ cow.breed }}</td>
                                            <td>{{ cow.cow_id }}</td>
                                            
                                        </tr>
                                    
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            </div>

							</div>
				
                        
                
				    
                </div>
                <!-- /.col-lg-8 -->


				<div class="col-lg-4">
                    
                    <div class="panel panel-info">
                        <div class="panel-heading">
                          <i class="fa fa-info"></i> Herd Description
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div>
                        
                    </div>
                    
                

                    
                </div>    
	</div>

{% endblock %}