{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DAiry Farm Record system - Web interface ">
    <meta name="author" content="Eric Ndung'u">

    <title>Landing Page Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}"rel="stylesheet">
   

    <!-- Add custom CSS here -->
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">

</head>

<body>
    <div id="body">

    
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-message">
                        <h1>Dr.Wamukuru's Dairy Farm<h1>
                             <hr class="intro-divider">
                        <h3>Dairy Cows Records System</h3>
                        <hr class="intro-divider">
                        </h2>

                            <div class="form-group input-group col-lg-4 col-lg-offset-4">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                        </h2>

                        
                       
                        <ul class="list-inline intro-social-buttons">
                            
                            <li><a class="btn btn-default btn-lg"><i class="glyphicon glyphicon-log-in fa-fw"></i> <span class="network-name">Login</span></a>
                            </li>
                            <li><a href="/records" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-stats fa-fw"></i> <span class="network-name">View Records</span></a>
                            </li>
                        </ul>
                    

                    </div>
                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    <footer>
        <p class="small">Copyright &copy; 2014. All Rights Reserved</p>
        <p class="small"> Developed by Eric Ndung'u</p> 
        <p class="small"><i class="fa fa-envelope"></i>   ericobain@gmail.com</p>
    </footer>

    

 
        
    

    <!-- JavaScript -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
</div>
</body>

</html>
