{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %}
<link href="{% static "css/plugins/timeline/timeline.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

	<div id="page-wrapper">
	 	<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cow Registration
                    
                                        <div class="form-group input-group col-lg-6 pull-right">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                    </h1 >                    
                </div>
                <!-- /.col-lg-12 -->
         </div>
	            <div class="row">
	                <div class="col-lg-8">
	                	<div class="panel panel-default">
	                		<div class="panel-heading">
	                			Add New Cow
	                		</div>
                            <div class="panel-body">
		                	
                                <form action="" method="POST" class="form-horizontal" role="form">
                                    {% csrf_token %}
                                    {% if form.errors %}<div class="alert alert-danger">Please correct the following fields</div>{% endif %}

                                <div class="form-group">
                                  {% if forms.ear_tag.errors %}<div class="alert alert-success">{{ forms.ear_tag.errors }}</div>{% endif %}  
                                  <label for="ear_tag" class="col-sm-2 control-label">Ear Tag</label>
                                  <div class="col-sm-10">
                                    <input type="ear_tag" class="form-control" name="ear_tag" placeholder="Ear Tag">
                                  </div>
                                </div>
                          

                                <div class="form-group">
                                  {% if forms.reg_name.errors %}<div class="alert alert-success">{{ forms.reg_name.errors }}</div>{% endif %}  
                                  <label for="reg_name" class="col-sm-2 control-label">Reg Name</label>
                                  <div class="col-sm-10">
                                    <input type="reg_name" class="form-control" name="reg_name" placeholder="Reg Name">
                                  </div>
                                </div>
                                

                                <div class="form-group">
                                  {% if forms.cow_id.errors %}<div class="alert alert-success">{{ forms.cow_id.errors }}</div>{% endif %}  
                                  <label for="cow_id" class="col-sm-2 control-label">ID</label>
                                  <div class="col-sm-10">
                                    <input type="cow_id" class="form-control" name="cow_id" placeholder="Cow's ID">
                                  </div>
                                </div>
                                <hr id="divider">

                                <div class="form-group">
                                  {% if forms.breed.errors %}<div class="alert alert-success">{{ forms.breed.errors }}</div>{% endif %}  
                                  <label for="breed" class="col-sm-2 control-label">Breed</label>
                                  <div class="col-sm-10">
                                   {{ form.breed }}
                                  </div>
                                </div>
                      

                                <div class="form-group">
                                  {% if forms.herd_book.errors %}<div class="alert alert-success">{{ forms.herd_book.errors }}</div>{% endif %}  
                                  <label for="herd_book" class="col-sm-2 control-label">Herd Book</label>
                                  <div class="col-sm-10">
                                   {{ form.herd_book }}
                                  </div>
                                </div>
                       

                                <div class="form-group">
                                  {% if forms.sex.errors %}<div class="alert alert-success">{{ forms.sex.errors }}</div>{% endif %}  
                                  <label for="sex" class="col-sm-2 control-label">Sex</label>
                                  <div class="col-sm-10">
                                    {{ form.sex }}
                                  </div>
                                </div>
                       
                                <hr id="divider">
                                <br>

                                <div class="form-group">
                                  {% if forms.grade.errors %}<div class="alert alert-success">{{ forms.grade.errors }}</div>{% endif %}  
                                  <label for="grade" class="col-sm-2 control-label">Grade</label>
                                  <div class="col-sm-10">
                                    <input type="grade" class="form-control" name="grade" placeholder="Grade">
                                  </div>
                                </div>
                         

                                <div class="form-group">
                                  {% if forms.birthday.errors %}<div class="alert alert-success">{{ forms.birthday.errors }}</div>{% endif %}  
                                  <label for="birthday" class="col-sm-2 control-label">Date Of Birth</label>
                                  <div class="col-sm-10">
                                   {{ form.birthday }}
                                </div>
                                </div>
                                <hr id="divider">

                                <div class="form-group">
                                  {% if forms.status.errors %}<div class="alert alert-success">{{ forms.status.errors }}</div>{% endif %}  
                                  <label for="birthday" class="col-sm-2 control-label"> Status</label>
                                  <div class="col-sm-10">
                                   <textarea class="form-control" name="status" rows="3"></textarea>

                                </div>
                                </div>
                                <hr id="divider">

                                


                                 
                               <button class="btn btn-lg btn-success btn-block" {% if form.errors %} disabled="disabled" {% endif %} alt="register">Register Cow</button>
                                </form>
                           
                            
		                	    
                           
                  

						</div>
                  
                    </div>
                
                        
                        
                
				    
                </div>
                <!-- /.col-lg-8 -->


				<div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-picture"></span> Photo
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                          <i class="fa fa-info"></i> Breed Description
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div>
                        
                    </div>
                    
                

                    
                </div>    
	</div>

{% endblock %}